MySettings(
  server_replication_send_interval: 20,
  input_delay_ticks: 5,
  correction_ticks_factor: 1.5,
  predict_all: true,
  show_confirmed: false,
  common: Settings(
    client: ClientSettings(
            inspector: false,
            client_id: 0,
            client_port: 0, // the OS will assign a random open port
            server_addr: "138.201.23.5",
            conditioner: None,
            server_port: 5000,
            transport: WebTransport(
                // this is only needed for wasm, the self-signed certificates are only valid for 2 weeks
                // the server will print the certificate digest on startup
                certificate_digest: "9d:46:79:19:78:b3:bd:c3:e2:a6:c6:b3:e0:e8:fa:3b:85:01:e4:32:7d:de:5c:3e:a2:c1:ab:2f:2c:f6:19:0c",
            ),
            // server_port: 5001,
            // transport: Udp,
            // server_port: 5002,
            // transport: WebSocket,
            // server_port: 5003,
            // transport: Steam(
            //     app_id: 480,
            // )
        ),
        server: ServerSettings(
            headless: true,
            inspector: false,
            conditioner: None,
            transport: [
                WebTransport(
                    local_port: 5000
                ),
            ],
        ),
        shared: SharedSettings(
            protocol_id: 0,
            private_key: (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            compression: None,
        )
    )
)
