# comma separated no-space list of examples names to build.
#
# This list is used by the build_wasm.sh script, and is passed
# as a docker build arg when using Dockerfile.server
example_list=avian_3d_character,avian_physics,bullet_prespawn,client_replication,distributed_authority,interest_management,priority,replication_groups,simple_box,spaceships